.inputBlock {
    position: relative;
}

.input {
    padding: 8px 12px;
    margin-bottom: 18px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color:#7A93F9;
    margin-right: 12px;
}

.error {
    position: absolute;
    left: 0;
    bottom: -12px;
    font-size: 12px;
    color: red;
}