.article {
    margin-bottom: 8px;
    padding: 8px;
    text-align: start;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.18);
}

.title {
    margin: 12px 0;
    font-size: 18px;
    font-weight: bold;

}
.autor {
    text-transform: capitalize;
    color: #696969;
}